<!-- components/footer.html -->
<footer class="site-footer">
  <!-- Section 1: Témoignages -->
  <section class="footer-testimonies">
    <div class="container">
      <h2 class="primary-color">Nous avons innové avec</h2>
      <div class="logos">
        <img src="pictures/logo_accenture_nb.png" alt="Accenture" />
        <img src="pictures/logo_mzlab_nb.jpeg" alt="Mazars" />
        <img src="pictures/logo_particeep_nb.png" alt="Particeep" />
        <img src="pictures/logo_yoopala_nb.png" alt="Yoopala" />
        <img src="pictures/logo_parisnco_nb.png" alt="Paris&Co" />
        <img src="pictures/logo_ioi_nb.png" alt="Institut Open Innovation" />
        <img src="pictures/logo_emlyon_nb.png" alt="EM Lyon" />
      </div>
    </div>
  </section>

  <!-- Section 2: Infos -->
  <section class="footer-infos">
    <div class="footer-col">
      <h4>Sourcinno SAS</h4>
      <p>&copy; <span data-year></span> - Paris (France)</p>
    </div>
    <div class="footer-col">
      <h4>Services</h4>
      <p>
        <a href="ai-business.html">AI Business</a> ▪️
        <a href="venture-building.html">Venture Building</a>
      </p>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <a href="mailto:contact@sourcinno.com">contact@sourcinno.com</a>
      </p>
    </div>
  </section>
</footer>